
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sales</title>
    @*<link href="~/Content/homestyle1.css" rel="stylesheet" />*@
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    @*<link href="~/Content/homestyle1.css" rel="stylesheet" />*@
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <script src="/assets/js/ace-extra.min.js"></script>
    <style>
        body {
            background-color: #f1f1f0;
        }

        .section,.tops,.bottoms{
            margin-top: 30px;
            width: 100%;
            height: 300px;
            /*background-color:white;*/
        }

        .section_box,.tops_box,.bottoms_box{
            width: 1500px;
            height: 300px;
            margin: 0px auto;
            background-color: white;
            box-shadow: 0px 1px 10px 3px rgb(228,228,229);
        }

        .top {
            padding-top: 10px;
            width: 100%;
            height: 50px;
            border-bottom: 2px solid #f1f1f0;
        }
    </style>
</head>
<body>
    <div class="toubu">
        <div class="toubu_box">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        销售管理
                        <small>
                            <i class="icon-double-angle-right"></i>
                            销售统计
                        </small>
                    </h1>
                </div><!-- /.page-header -->
            </div>
        </div>
    </div>

    <div class="tops">
        <div class="tops_box">
            <div class="top">
                <span style="font-size:16px;font-weight:bolder; padding-left:10px;">销售统计查询</span>
            </div>
            <div class="sleft">

            </div>
            <div class="sright"></div>
        </div>
    </div>

    <div class="section">
        <div class="section_box" >
            <div class="top">
                <span style="font-size:16px;font-weight:bolder; padding-left:10px;">柱状图与折线图</span>
            </div>
            <div class="shenti">
                @*<div id="appbox">
                    <div id="app" style="width:1000px;height:500px;">

                    </div>
                </div>*@
            </div>
        </div>
    </div>

    <div class="bottoms">
        <div class="bottoms_box">
            <div class="top">
                <span style="font-size:16px;font-weight:bolder; padding-left:10px;">饼状图</span>
            </div>
        </div>
    </div>
    <script src="~/Scripts/echarts.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>

        // $.ajax({
        //     url:'https://localhost:44368/api/Default/ss',
        //     type:'GET',
        //     dataType:'JSON',
        //     success:function(data){
        //         console.log(data);
        //     }
        // });
        var myChart = echarts.init(document.getElementById('app'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: ['蒸发量', '降水量', '平均温度']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '水量',
                    min: 0,
                    max: 250,
                    interval: 50,
                    axisLabel: {
                        formatter: '{value} ml'
                    }
                },
                {
                    type: 'value',
                    name: '温度',
                    min: 0,
                    max: 25,
                    interval: 5,
                    axisLabel: {
                        formatter: '{value} °C'
                    }
                }
            ],
            series: [
                {
                    name: '蒸发量',
                    type: 'bar',
                    data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
                },
                {
                    name: '降水量',
                    type: 'bar',
                    data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
                },
                {
                    name: '平均温度',
                    type: 'line',
                    yAxisIndex: 1,
                    data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
                }
            ]
        };
        myChart.setOption(option);


    </script>
</body>
</html>
