
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sales</title>
    @*<link href="~/Content/homestyle1.css" rel="stylesheet" />*@
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    @*<link href="~/Content/homestyle1.css" rel="stylesheet" />*@
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <script src="/assets/js/ace-extra.min.js"></script>
    <style>
        body {
            background-color: #f1f1f0;
        }

        .section,.tops,.bottoms{
            margin-top: 30px;
            width: 100%;
            height: 300px;
            /*background-color:white;*/
        }

        .section_box,.tops_box,.bottoms_box{
            width: 1500px;
            height: 300px;
            margin: 0px auto;
            background-color: white;
            box-shadow: 0px 1px 10px 3px rgb(228,228,229);
        }

        .top {
            padding-top: 10px;
            width: 100%;
            height: 50px;
            border-bottom: 2px solid #f1f1f0;
        }
        .as{
            width:1050px;
            height:300px;
            /*border:1px solid red;*/
        }
        .as_left{
            width:300px;
            height:290px;
            /*border:1px solid black;*/
            float:left;
             margin-left:50px;
        }
    </style>
</head>
<body>
    <div class="toubu">
        <div class="toubu_box">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        销售管理
                        <small>
                            <i class="icon-double-angle-right"></i>
                            销售统计
                        </small>
                    </h1>
                </div><!-- /.page-header -->
            </div>
        </div>
    </div>

    <div class="tops"  style="height:300px;">
        <div class="tops_box" style="height:300px;">
            <div class="top">
                <span style="font-size:16px;font-weight:bolder; padding-left:10px;">销售统计查询</span>
            </div>
            <div class="sleft">
                <div id="appbox" style="width:1050px;height:350px;margin:0px auto; padding-top:50px;">
                    <div id="app1" style="width:1000px;height:300px;">
                        <div class="as">
                            <div class="as_left">
                                <div>
                                    <template>
                                        <div class="block">
                                            <div class="demonstration">
                                                <span class="demonstration">日期：</span>
                                            </div>
                                            <el-date-picker v-model="value1"
                                                            type="date"
                                                            placeholder="选择日期">
                                            </el-date-picker>
                                        </div>

                                    </template>
                                </div>
                                <div style="margin-top:40px;">
                                    <template>
                                        <!-- `checked` 为 true 或 false -->
                                        <div class="demonstration">
                                            <span class="demonstration">选择图形：</span>
                                        </div>
                                        <el-checkbox v-model="checked1">柱形图</el-checkbox>
                                        <el-checkbox v-model="checked2">饼状图</el-checkbox>

                                    </template>
                                </div>
                            </div>
                            <div class="as_left">
                                <div class="demonstration">
                                    <span class="demonstration">产品名称：</span>
                                </div>
                                <el-input placeholder="请输入内容"
                                          v-model="input"
                                          clearable>
                                </el-input>

                                <div style="margin-top:40px;">
                                    <el-row>
                                        <el-button type="primary" icon="el-icon-search">查询</el-button>
                                    </el-row>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sright"></div>
        </div>
    </div>

    <div class="section">
        <div class="section_box" style="height:600px; " >
            <div class="top">
                <span style="font-size:16px;font-weight:bolder; padding-left:10px;">柱状图与折线图</span>
            </div>
            <div class="shenti">
                <div id="appbox"  style="width:1050px;height:550px;margin:0px auto; padding-top:50px;">
                    <div id="app" style="width:1000px;height:500px;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="bottoms">
        <div class="bottoms_box">
            <div class="top">
                <span style="font-size:16px;font-weight:bolder; padding-left:10px;">饼状图</span>
            </div>
        </div>
    </div>*@
    <script src="~/Scripts/echarts.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>

        // $.ajax({
        //     url:'https://localhost:44368/api/Default/ss',
        //     type:'GET',
        //     dataType:'JSON',
        //     success:function(data){
        //         console.log(data);
        //     }
        // });
        var myChart = echarts.init(document.getElementById('app'));
        option = {
            title: {
                text: '产品销售统计图',
                subtext: '产品销售数据'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['销售量']
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '销售量',
                    type: 'bar',
                    data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                    markPoint: {
                        data: [
                            { type: 'max', name: '最大值' },
                            { type: 'min', name: '最小值' }
                        ]
                    },
                    markLine: {
                        data: [
                            { type: 'average', name: '平均值' }
                        ]
                    }
                },
                
            ]
        };
        myChart.setOption(option);


        var vm1 = new Vue({
            el: "#app1",
            data() {
                return {
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                        shortcuts: [{
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        }, {
                            text: '昨天',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                const date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                    }, input: '',
                    value1: '',
                    value2: '',
                    checked1: false,
                    checked2:false,
                };
            }
        }) 

    </script>
</body>
</html>
