
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <link href="~/Content/homestyle1.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <script src="/assets/js/ace-extra.min.js"></script>
    <style>
        body {
            background-color: #f1f1f0;
        }
        .one_se {
            width: 100%;
            height: 95px;
            /*background-color: #438eb9;*/
            border-radius: 0px 0px 10px 10px;
            font-size: 20px;
            /*color: white;*/
            text-align: center;
            line-height: 95px;
        }
        .two_se{
            float: left;
            width: 210px;
            height: 95px;
            border-radius: 0px 10px 0px 0px;
            font-size: 20px;
            text-align: center;
            line-height: 95px;
        }
        .title {
            width: 300px;
            height: 30px;
            color: #808080;
            font-size:20px;
            line-height:30px;
            padding-left:200px;
        }
        .section_title{
            width:100px;
            height:30px;
            /*border:1px solid red;*/
            font-size:25px;
            margin-left:10px;
        }
    </style>
</head>
<body>
    @*<h1>首页</h1>*@
    <div class="toubu">
        <div class="toubu_box">
            <div class="page-content" style="background-color:#f1f1f0">
                <div class="page-header">
                    <h1>
                        首页
                        <small>
                            <i class="icon-double-angle-right"></i>
                            查看
                        </small>
                    </h1>
                </div><!-- /.page-header -->
            </div>
        </div>
    </div>
    <div id="tops" class="tops">
        <div class="tops_box">
            <div class="one">
                <div class="one_top">
                    <p>总销售量</p>
                </div>
                <div class="one_se">
                    <p>9单</p>
                </div>
            </div>
            <div class="one">
                <div class="one_top">
                    <p>今年销量</p>
                </div>
                <div class="one_se">
                    <p>6单</p>
                </div>
            </div>
            <div class="two">
                <div class="two_top">
                    <p>总支出</p>
                </div>
                <div class="two_tops">
                    <p>总收入</p>
                </div>
                <div class="two_se">
                    <p>6万元</p>
                </div>
                <div class="two_se">
                    <p>9万元</p>
                </div>
            </div>
            <div class="two">
                <div class="two_top">
                    <p>今年支出</p>
                </div>
                <div class="two_tops">
                    <p>今年收人</p>
                </div>
                <div class="two_se">
                    <p>3万元</p>
                </div>
                <div class="two_se">
                    <p>6万元</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="section">

        <div class="section_box">
            <div class="section_title">销量统计</div>
            <div id="appbox">
                <div id="app" style="width:1000px;height:500px;">

                </div>
            </div>
        </div>
    </div>
    <div class="bottoms">
        <div class="bottoms_box">
            <div class="three">
                <div class="section_title">收入统计</div>
                <div id="app1box" style=" width:410px;height:410px; margin:0px auto;">
                    <div id="app1" style="width:400px;height:400px;">

                    </div>
                </div>
            </div>
            <div class="three">
                <div class="section_title">支出统计</div>
                <div id="app2box" style=" width:410px;height:410px; margin:0px auto;">
                    <div id="app2" style="width:400px;height:400px;">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Scripts/echarts.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>

        // $.ajax({
        //     url:'https://localhost:44368/api/Default/ss',
        //     type:'GET',
        //     dataType:'JSON',
        //     success:function(data){
        //         console.log(data);
        //     }
        // });
        var myChart = echarts.init(document.getElementById('app'));
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: ['T恤', '牛仔裤', '订单数']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '数量/件',
                    min: 0,
                    max: 350,
                    interval: 50,
                    axisLabel: {
                        formatter: '{value} '
                    }
                },
                {
                    type: 'value',
                    name: '订单数',
                    min: 0,
                    max: 25,
                    interval: 5,
                    axisLabel: {
                        formatter: '{value} '
                    }
                }
            ],
            series: [
                {
                    name: 'T恤',
                    type: 'bar',
                    data: [5, 8, 10, 20, 30, 70, 130, 162, 322, 152, 60, 30],
                    color:'#a9df96'
                },
                {
                    name: '牛仔裤',
                    type: 'bar',
                    data: [3, 6, 10, 30, 30, 70, 170, 180, 50, 50, 60, 20],
                    color:'#f5ad6a'
                },
                {
                    name: '订单数',
                    type: 'line',
                    yAxisIndex: 1,
                    data: [2, 2, 2, 5, 6, 10, 15, 23, 25, 16, 12, 6],
                    color:'#9899b3'
                }
            ]
        };
        myChart.setOption(option);

        var myChart1 = echarts.init(document.getElementById('app1'))
        option1 = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: '收入来源',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '40',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        { value: 1048, name: 'T恤', itemStyle: { color: '#a969c6' }},
                        { value: 735, name: '外套', itemStyle: { color: '#ff915a' }},
                        { value: 580, name: '牛仔裤', itemStyle: { color: '#9fe080' } }
                    ]
                }
            ]
        };
        myChart1.setOption(option1);

        var myChart2 = echarts.init(document.getElementById('app2'))
        option2 = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: '收入来源',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '40',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        { value: 600, name: 'T恤' , itemStyle: { color: '#ff9900' }},
                        { value: 300, name: '外套', itemStyle: { color: '#ee6666' }},
                        { value: 580, name: '牛仔裤', itemStyle: { color: '#73c0de' } }
                    ]
                }
            ]
        };
        myChart2.setOption(option2);
    </script>
</body>
</html>
