
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Material</title>
</head>
<body>
    <div> <h1>材料商品库存管理</h1>
    </div>
</body>
</html>
