
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>materialr_in</title>
</head>
<body>
    <div> 
        <div>材料入库</div>
    </div>
</body>
</html>
