
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Material</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
    <script src="/assets/js/ace-extra.min.js"></script>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <style>
        body {
            background-color: #f1f1f0;
        }

        .section {
            margin-top: 30px;
            width: 100%;
            height: 600px;
            /*background-color:white;*/
        }

        .section_box {
            width: 95%;
            margin: 0px auto;
            background-color: white;
            box-shadow: 0px 1px 10px 3px rgb(228,228,229);
        }

        .top {
            padding-top: 10px;
            width: 100%;
            height: 50px;
            border-bottom: 2px solid #f1f1f0;
        }
    </style>
</head>
<body>
    <div class="toubu">
        <div class="toubu_box">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        材料库存管理
                        <small>
                            <i class="icon-double-angle-right"></i>
                            原料库存
                        </small>
                    </h1>
                </div><!-- /.page-header -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="section_box">
            <div class="top">
                <span style="font-size:16px;color:#808080;font-weight:bolder; padding-left:20px;line-height:28px;">材料库存管理 / <span style="font-size:14px;">原料库存</span></span>
            </div>
            <div class="top">
                <span style="font-size:16px;font-weight:bolder; padding-left:50px;">原料库存管理</span>
                <div id="apps" style="float:right;">
                    <a style="color:white" href="/Material/AddYL">
                        <el-button type="primary" icon="el-icon-plus" style="background-color: rgb(52,123,183);">
                            新增
                        </el-button>
                    </a>

                </div>
            </div>
            <div style="height:700px;">
                <div id="app" style="margin-left:100px;">
                    <div class="biaoge" style="width:90%;text-align:center;">
                        <div style="margin:0px auto;">
                            <template>
                                <el-table :data="tableData.filter(data => !search || data.clName.toLowerCase().includes(search.toLowerCase()))"
                                          style="width: 100%">
                                    <el-table-column label="库存编号"
                                                     prop="clID">
                                    </el-table-column>
                                    <el-table-column label="材料名"
                                                     prop="clName">
                                    </el-table-column>
                                    <el-table-column label="材料数量"
                                                     prop="clnum">
                                    </el-table-column>
                                    <el-table-column label="材料价格"
                                                     prop="clprice">
                                    </el-table-column>
                                    <el-table-column label="供应商"
                                                     prop="clgys">
                                    </el-table-column>
                                    <el-table-column align="right">
                                        <template slot="header" slot-scope="scope">
                                            <el-input v-model="search"
                                                      size="mini"
                                                      placeholder="输入关键字搜索" />
                                        </template>
                                        <template slot-scope="scope">
                                            <el-button size="mini" v-on:click="handleEdit(scope.row)">修改</el-button>
                                            <el-button size="mini" type="danger" v-on:click="handleDelete(scope.row)" style="padding-left:10px;padding-right:10px;">删除</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>

                            @*<el-button type="text" v-on:click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button>*@

                            <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
                                <el-form :model="form">
                                    <table>
                                        <tr>
                                            <td>材料名称：</td>
                                            <td class="lefttd">
                                                <el-input placeholder="请输入内容" v-model="form.clName"></el-input>
                                            </td>

                                            <td>材料价格：</td>
                                            <td>
                                                <el-input placeholder="请输入内容" v-model="form.clprice"></el-input>
                                            </td>
                                        </tr>
                                        <tr style="height:100px;">
                                            <td>@*材料规格：*@库存数量：</td>
                                            <td class="lefttd">
                                                <el-input-number v-model="form.clnum" :min="1" :max="10000" label="描述文字"></el-input-number>
                                                @*<el-input placeholder="请输入内容" v-model="pro_guige"></el-input>*@
                                            </td>
                                            <td>供应商：</td>
                                            <td class="lefttd">
                                                <el-input placeholder="请输入内容" v-model="form.clgys"></el-input>
                                            </td>

                                        </tr>
                                    </table>
                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                                    <el-button type="primary" v-on:click="baocun()">确 定</el-button>
                                </div>
                            </el-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    tableData: [],
                    search: '',
                    dialogTableVisible: false,
                    dialogFormVisible: false,
                    form: {
                        cid:'',
                        clName: '',
                        clprice: '',
                        clnum: '',
                        clgys: ''
                    },
                    formLabelWidth: '120px'
                }
            },
            methods: {
                handleEdit(row) {
                    //alert("详情");
                    //dialogFormVisible = true;
                    this.dialogFormVisible = true
                    $.ajax({
                        type: "GET",
                        url: "https://localhost:44396/api/Material/select_xiangqing?id=" + row.clID,
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data) {
                            var info = eval(data);
                            vm.form.cid = info[0].clID;
                            vm.form.clName = info[0].clName;
                            vm.form.clprice = info[0].clprice;
                            vm.form.clnum = info[0].clnum;
                            vm.form.clgys = info[0].clgys;
                        }
                    })
                },
                handleDelete(row) {
                    //alert("删除");
                    if (confirm("确定要删除吗？")) {
                         $.ajax({
                        type: "GET",
                        url: "https://localhost:44396/api/Material/deleteyl?id=" + row.clID,
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data) {
                            alert("删除成功！")
                            window.location.href = "@Url.Content("~/Material/Material/")";

                        }
                    })
                    }
                }, baocun() {

                    var json1 = {
                        "clID": vm.form.cid,
                        "clName": vm.form.clName,
                        "clnum":vm.form.clnum,
                        "clprice":vm.form.clprice,
                        "clgys":vm.form.clgys,
                    };
                    var json2 = JSON.stringify(json1);
                    //新增数据
                    $.ajax({
                        url: "https://localhost:44396/api/Material/update_cl?json=" + json2,
                     type: "get",
                     contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                    this.dialogFormVisible = false;
                    window.location.href = "@Url.Content("~/Material/Material")";
                }
            })
                }
            }
        })

        var vm1 = new Vue({
            el: "#apps",
            data: {

            }
        })

        //原料库存查询
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://localhost:44396/api/Material/select_material",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    var jsonObj = JSON.parse(data)
                    for (var i = 0; i < jsonObj.length; i++) {
                        vm.tableData.push(jsonObj[i]);
                    }
                }
            })

        })
    </script>
</body>
</html>
