
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <style>
        .yy {
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .top1 {
            margin-left: 50px;
        }

        .btn {
            margin-left: 1250px;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 5px;
            color: white;
            background-color: orange;
            border: none;
        }

        .btn3 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 5px;
            color: white;
            background-color: lightseagreen;
            border: none;
            margin-left: -5px;
        }

        .btn4 {
            font-size: 20px;
            width: 80px;
            height: 35px;
            border-radius: 5px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .text {
            width: 200px;
            height: 34px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">产品库存管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">产品库存管理</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <div class="yy">
            <div class="top1" id="app">
                <br />
                <span style="font-size:20px;color:dimgray;">&nbsp;&nbsp;&nbsp;&nbsp;产品库存管理</span>
                <span class="btn">
                    <input type="button" value="删除" class="btn2" />
                </span>
                <br />
                <hr />
                <br />
                <span style="display:flex;">
                    <input type="text" class="text" placeholder="请输入产品名称" />
                    <input type="button" value="搜索" class="btn3" />
                </span>
                <br />
                <span style="font-size:20px;color:dimgray;display:flex;">
                    显示<input type="text" list="xl" style="width: 80px; height: 22px;" />
                    <datalist id="xl">
                        <option>1</option>
                        <option>50</option>
                        <option>100</option>
                    </datalist>条
                </span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">库存编号</th>
                            <th scope="col">产品编号</th>
                            <th scope="col">产品名称</th>
                            <th scope="col">产品类型</th>
                            <th scope="col">产品单位</th>
                            <th scope="col">产商名称</th>
                            <th scope="col">库存数量</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in collection)
                            {

                            }*@
                        <tr v-for="item in info">
                            <td>002</td>
                            <td>001</td>
                            <td>品如</td>
                            <td>T恤</td>
                            <td>件</td>
                            <td>品如T恤厂家</td>
                            <td>1000件</td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-left:1250px;">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
