
@{
    Layout = null;
}
@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/element")
@Styles.Render("~/Content/elementcss")
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .top1 {
            width: 100%;
            height: 150px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .btn {
            font-size: 15px;
            width: 80px;
            height: 30px;
            border-radius: 3px;
            color: white;
            background-color: Highlight;
            border: none;
            margin-left: 100px;
        }

        .btn1 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
            margin-left: -5px;
        }

        .top2 {
            width: 100%;
            height: 500px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .top3 {
            margin-left: 50px;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .btn3 {
            font-size: 20px;
            width: 60px;
            height: 35px;
            border-radius: 2px;
            color: lightseagreen;
            border-color: lightseagreen;
            margin-left: 600px;
        }

        .btn4 {
            font-size: 20px;
            width: 60px;
            height: 35px;
            border-radius: 2px;
            color: orange;
            border-color: orange;
            margin-left: 400px;
        }

        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .btn11 {
            height: 40px;
            width: 80px;
            border: 0;
            border-radius: 2px;
        }

        .btn22 {
            height: 40px;
            width: 80px;
            border: 0;
            background-color: #409EFF;
            color: white;
            border-radius: 2px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产计划管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产计划添加</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <form action="/Production/product_planadd" method="post" enctype="multipart/form-data">
            <div class="top1">
                <div class="top3">
                    <br />
                    <span style="font-size:20px;color:dimgray;">订单信息查询</span>
                    <hr />
                    <div style="margin-left:200px;">
                        <span style="font-size:15px;color:dimgray;">
                            产品订单ID：
                            <input type="text" style="height:40px;width:300px;" placeholder="请输入产品订单ID" name="order_id" />
                            <el-button type="primary" icon="el-icon-search">搜索</el-button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="top2">
                <div class="top3">
                    <br />
                    <span style="font-size:20px;color:dimgray;">订单信息</span>
                    <hr />
                    <br />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">订单编号</th>
                                <th scope="col">产品名称</th>
                                <th scope="col">产品类别</th>
                                <th scope="col">产品规格</th>
                                <th scope="col">产品单位</th>
                                <th scope="col">订购数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>李宁</td>
                                <td>T恤</td>
                                <td>XXL</td>
                                <td>件</td>
                                <td>200</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <el-dialog :visible.sync="visible" title="添加产品数量">
                            <hr />
                            <p>计划产品数量</p>
                            <input type="text" placeholder="99" style="width:1500px;height:25px;" /><br /><br />
                            <input type="button" class="btn" value="提交" />
                        </el-dialog>
                    </div>
                    <hr />
                    <br />
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">生产计划时间：</th>
                                <th scope="col">操作员:</th>
                                <th scope="col">经办人:</th>
                                <th scope="col">计划产量:</th>
                                <th scope="col">处理状态:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="date" style="width: 500px; height: 30px;" name="product_time" /></td>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入操作员姓名" name="operator_per" /></td>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入经办人姓名" name="person_handling" /></td>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入计划产量" name="Planned output" /></td>
                                <td><input type="text" style="width: 500px; height: 30px;" placeholder="请输入处理状态" name="status" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-left:300px;">
                        <input type="submit" value="提交" class="btn3" />
                    </div>
                </div>
            </div>
        </form>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
    })
</script>
</html>
