

@{
    Layout = null;
}
@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/element")
@Styles.Render("~/Content/elementcss")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Production</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .yy {
            width: 100%;
            height: 800px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .top {
            margin-left: 50px;
        }

        .btn {
            margin-left: 1200px;
        }

        .btn1 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: Highlight;
            border: none;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: Highlight;
            border: none;
        }

        .btn3 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius:2px;
            color: white;
            background-color: lightseagreen;
            border: none;
            margin-left: -5px;
        }

        .btn4 {
            font-size: 20px;
            width: 80px;
            height: 35px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }
        .brn5 {
            font-size: 20px;
            width: 80px;
            height: 35px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }
        .text {
            width: 200px;
            height: 40px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">领料管理</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <div class="yy">
            <div class="top">
                <br />
                <span style="font-size:20px;color:dimgray;">&nbsp;&nbsp;&nbsp;&nbsp;生产计划管理表</span>
                <span class="btn">
                    <input type="button" value="添加" class="btn1" onclick="javascrtpt:window.location.href='/Production/Productionadd'" />&nbsp;&nbsp;
                    <el-button type="text" v-on:click="open" class="btn2">删除</el-button>
                </span>
                <br />
                <br />
                <hr />
                <br />
                <span style="display:flex;">
                    <input type="text" class="text" placeholder="请输入订单编号" />
                    <el-button type="primary" icon="el-icon-search">搜索</el-button>
                </span>
                <br />
                <span style="font-size:20px;color:dimgray;display:flex;">
                    显示<input type="number" style="width: 80px; height: 22px;" />条
                </span>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">领料编号</th>
                            <th scope="col">计划编号</th>
                            <th scope="col">领材料部门</th>
                            <th scope="col">领料日期</th>
                            <th scope="col">经办人</th>
                            <th scope="col">操作员</th>
                            <th scope="col">状态</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in collection)
                {

                }*@
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>布料部</td>
                            <td>2021/4/5</td>
                            <td>林慕染</td>
                            <td>覃佐继</td>
                            <td>未提货</td>
                            <td><el-button v-on:click="visible = true"  type="primary" plain>详情</el-button></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <el-dialog :visible.sync="visible" title="材料详情">
                        <hr />
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">材料详情编号</th>
                                    <th scope="col">领料单编号</th>
                                    <th scope="col">材料名称</th>
                                    <th scope="col">材料数量</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2001</td>
                                    <td>1001</td>
                                    <td>直接</td>
                                    <td>100件</td>
                                </tr>
                            </tbody>
</el-dialog>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        },
        methods: {
            open() {
                this.$confirm('确认删除嘛?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    })
</script>
</html>

