@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Productiones</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .top {
            margin-left: 50px;
        }

        .top1 {
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .btn1 {
            font-size: 20px;
            width: 60px;
            height: 35px;
            border-radius: 2px;
            color: lightseagreen;
            border-color: lightseagreen;
            margin-left: 150px;
        }

        .btn2 {
            font-size: 20px;
            width: 60px;
            height: 35px;
            border-radius: 2px;
            color: orange;
            border-color: orange;
            margin-left: 500px;
        }
    </style>
</head>
<body>
    <div>
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">产品生产</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">添加产品生产登记</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <form action="/Production/Productionsaddadd" method="post" enctype="multipart/form-data">
            <div class="top1">
                <div class="top">
                    <br />
                    <span style="font-size:20px;color:dimgray;">生产产品登记信息</span>
                    <hr />
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">计划详情编号</th>
                                <th scope="col">生产部门</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" placeholder="请输入计划详情编号" name="product_plan_details_id" /></td>
                                <td><input type="text" placeholder="请输入生产部门" name="pro_production_dep" /></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col">生产日期</th>
                                <th scope="col">操作员</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="date" name="product_time" /></td>
                                <td><input type="text" placeholder="请输入操作员" name="operator_per" /></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col">质检状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" placeholder="请输入质检状态" name="status" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-left:400px;">
                        <input type="submit" value="提交" class="btn1"/>
                    </div>
                    <br />
                </div>
            </div>
        </form>
    </div>
</body>
</html>
