@{
    Layout = null;
}
@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/element")
@Styles.Render("~/Content/elementcss")
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Productionadd</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .top {
            margin-left: 50px;
        }

        .top1 {
            width: 100%;
            height: 150px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .top2 {
            margin-top: 50px;
            width: 100%;
            height: 250px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .top3 {
            margin-top: 50px;
            width: 100%;
            height: 400px;
            box-shadow: 0px 0px 5px 5px lightgray;
        }

        .btn {
            margin-left: 1200px;
        }

        .btn1 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: lightseagreen;
            border: none;
        }

        .btn2 {
            font-size: 20px;
            width: 80px;
            height: 40px;
            border-radius: 2px;
            color: white;
            background-color: orange;
            border: none;
        }

        .ss {
            width: 100%;
            height: 80px;
            box-shadow: 0px 0px 3px 3px lightgray;
        }

        .btn11 {
            height: 40px;
            width: 80px;
            border: 0;
            border-radius: 2px;
        }
        .btn12 {
            margin-left:100px;
            font-size: 15px;
            width: 80px;
            height: 30px;
            color: white;
            background-color: Highlight;
            border: none;
        }
        .btn22 {
            height: 40px;
            width: 80px;
            border: 0;
            background-color: #409EFF;
            color: white;
            border-radius: 2px;
        }
        .btn111 {
            height: 40px;
            width: 80px;
            border: 0;
            border-radius: 2px;
        }

        .btn222 {
            height: 40px;
            width: 80px;
            border: 0;
            background-color: #409EFF;
            color: white;
            border-radius: 2px;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script>
             
    </script>
</head>
<body>

    <div>
        <div class="ss">
            <div style="margin-left:50px;">
                <br />
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">生产管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">领料管理</li>
                        <li class="breadcrumb-item" style="font-size:15px;color:dimgray;">领料计划添加</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <form action="/Production/get_materialsadd" method="post" enctype="multipart/form-data">           
            <div class="top2">
                <div class="top">
                    <br />
                    <span style="font-size:20px;color:dimgray;">材料详情:</span>
                    <hr />
                    <br />
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">材料信息</th>
                                <th scope="col"><input type="text" placeholder="请输入材料信息" name="materialr_details_id"/></th>
                            </tr>
                            <tr>
                                <th scope="col">材料数量</th>
                                <th scope="col"><input type="text" placeholder="请输入材料数量" name="materialr_details_num"/></th>
                            </tr>
                        </thead>
                    </table>
                    <div style="margin-left:1500px;">
                    </div>
                </div>
            </div>
            <div class="top3">
                <div class="top">
                    <br />
                    <span style="font-size:20px;color:dimgray;">添加领料详情单</span>
                    <hr />
                    <table class="table table-bordered">
                        <tr>
                            <th scope="col">生产计划编号：</th>
                            <th scope="col"><input type="text" placeholder="请输入生产计划编号" name="product_plan_id" /></th>
                            <th scope="col">领料日期：</th>
                            <th scope="col"><input type="date" name="get_time" /></th>
                        </tr>
                        <tr>
                            <th scope="col">领材料的部门：</th>
                            <th scope="col"><input type="text" placeholder="请输入领材料的部门" name="get_department"/></th>
                            <th scope="col">此操作员：</th>
                            <th scope="col"><input type="text" placeholder="请输入操作员姓名" name="operator_per"/></th>
                        </tr>
                        <tr>
                            <th scope="col">经手人：</th>
                            <th scope="col"><input type="text" placeholder="请输入经手人姓名" name="person_handling" /></th>
                            <th scope="col">提货状态：</th>
                            <th scope="col"><input type="text" placeholder="请输入提货状态" name="status" /></th>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <div style="margin-left: 450px;">
                        <input type="submit" value="提交" class="btn222" style="margin-left: 500px;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        }
    })
</script>
</html>