
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order</title>
</head>
<body>
    <div> 
        <h1>订单管理</h1>
        <a href="/Customer/InsertOrder" target="info">添加订单</a>
    </div>
</body>
</html>
